{{!create the main page template}}

<html lang="en-Us">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="bvMkgwHx_pdyT4pQl2Uo0GGFsFwKcuvhxfi7jtbv32Y" />
    <title>fixUp</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>

  <body>
    <header>
      <nav class="navigation container is-fluid" role="navigation" aria-label="main navigation">
        {{! navigation here }}
        <div class="navbar">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <span class="is-size-1 has-text-weight-bold">fixUP</span>
              </a>
              <span class="navbar-burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end" style="align-items:center">
                <form action="/jobs" style="margin:0">
                  <input type="text" name="q" placeholder="Search..." />
                  <button class="hide" type="submit">Search</button>
                </form>
                <a class="navbar-item button is-white" href="/">Home</a>
                <a class="navbar-item button is-white" href="/dashboard">Dashboard</a>
                <a class="navbar-item button is-white" id="nav-login-button" href="/login">Login</a>
                <button class="navbar-item button is-white" type="submit"  id="nav-logout-button">Logout</button>
              </div>
            </div>
        </div>
      </nav>
    </header>
    {{!Content of the page goes here}}
    <main>
      {{{body}}}
    </main>
    {{!footer section}}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>In collaboration with Tom Bellenger, Tarek Youssef, Kate Hamilton and
          Alma Braun
          <br />
          @UC Berkeley Bootcamp 2021</p>
        <p id="fonts"><i class="fa fa-envelope"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-github"></i></p>
      </div>
    </footer>
    {{!call the file routes to generate this main page template}}
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <script src="/javascript/main.js"></script>
  </body>
</html>
