{{!create the main page template}}

<html lang="en-Us">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fixUp</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>

  <body>
    <header>
      <nav class="navigation" role="navigation" aria-label="main navigation">
        {{! navigation here }}
        <div class="navbar is-spaced">
          <div class="navbar-brand">
            <a class="navbar-item is-size-1 has-text-weight-bold" href="/">
              fixUP
            </a>
            <span class="navbar-burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end" style="align-items:center">
              <div class="navbar-item">
                <form action="/jobs" class="navbar-form">
                  <div class="field">
                    <div
                      class="control"
                      style="display:flex; align-items:center"
                    >
                      <input type="text" name="q" placeholder="Search..." />
                      <button class="button is-white" type="submit"><i
                          class="fa fa-search"
                        ></i></button>
                    </div>
                  </div>
                </form>
              </div>
              <a class="navbar-item button is-white" href="/">Home</a>
              <a
                class="navbar-item button is-white"
                href="/dashboard"
              >Dashboard</a>
              <a
                class="navbar-item button is-white"
                id="nav-login-button"
                href="/login"
              >Login</a>
              <div class="navbar-item">
                <button
                  class="button is-white"
                  type="submit"
                  id="nav-logout-button"
                >Logout</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {{!Content of the page goes here}}
    <main>
      {{{body}}}
    </main>
    {{!footer section}}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>In collaboration with Tom Bellenger, Tarek Youssef, Kate Hamilton and
          Alma Braun
          <br />
          @UC Berkeley Bootcamp 2021</p>
        <p id="fonts"><i class="fa fa-envelope"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-github"></i></p>
      </div>
    </footer>

    <div id="modal" class="modal">
      <div class="modal-background"></div>
      <div id="modal-content" class="modal-content">
        <!-- Any other Bulma elements you want -->
      </div>
      <button
        id="modal-close"
        class="modal-close is-large modal-close-btn"
        aria-label="close"
      ></button>
    </div>
    {{!call the file routes to generate this main page template}}
    {{! <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script> }}
    <script src="/javascript/main.js"></script>
  </body>
</html>