{{!--create the main page template--}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page title here</title>
  <link rel="stylesheet"
            href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"
        />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
            rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
       <link rel="stylesheet" href="/stylesheets/style.css">      
</head>

<body>
    <header>
       <nav class="navigation">
           {{!-- navigation here --}}
           <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">

                       <span id="title">fixUP</span>
                    </a>
                   <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                      <a class="navbar-item is-active" href="/">Home</a>
                        <a class="navbar-item" href="/dashboard">Dashboard</a>
                        <a class="navbar-item" id="nav-login-button" href="/login">Login</a>
                       <button type="submit" class="logout-button hide" id="nav-logout-button">Logout</button> 
                       
                     </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{{!--Content of the page goes here--}}
    <main>
      {{{ body }}}
    </main>
{{!--footer section--}}
  <footer class="footer">
            <div class="content has-text-centered">
                {{!-- <p> <strong>TITLE OF OUR WEBSITE</strong>
                -
                      <a href="https://github.com/tbellenger/coding-bc-project-2"
                        target="_blank">Open Source</a>
                    -Node packages, MySQL2, Sequelize, Express.js, identicon, jsonwebtoken, passport, passport-jwt, Bulma, Heroku, Handlebars.
                </p> --}}
                <p>In collaboration with Tom Bellenger, Tarek Youssef, Kate Hamilton and Alma Braun <br> @UC Berkeley Bootcamp 2021</p>
                <p id="fonts"><i class="fa fa-envelope"></i> <i class="fa fa-linkedin"></i> <i class="fa fa-twitter"></i> <i class="fa fa-github"></i></p>
            </div>
        </footer>
        {{!--call the file routes to generate this main page template--}}
        <script src="/javascript/main.js"></script>
    </body>
</html>

    