{{> job-info job}}
<form >
  <div>
    <textarea type="text" name="comment-body" ></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{> comments job.comments}}
<script src="/javascript/edit-delete-comment.js"></script>