{{!--all jobs section--}}
<div class="columns">
  <div class="column is-12">
    <div class="container is-fluid">
      <a class="button is-rounded" href="/jobs">All Jobs</a>   
      {{!--categories of job section--}}
      {{#each categories}}
      <a class="button is-rounded"  href="/category/{{id}}/jobs">{{category_name}}</a>
      {{/each}}
    </div>
  </div>
</div>

{{!--hero section--}}
<div class="hero is-large is-primary">
  <div class="hero-body">
    <p class="title">"company slogan-- helping hands from local hands, etc"</p>
  </div>
</div>
