{{!-- <div>
    <ol class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
    </ol>
</div> --}}
<div>
    <div class="post-list">
        {{#each posts as |post|}}
            {{> post-info post }}
        {{/each}}
    </div>
</div>