{{!--all jobs section--}}
<div class="buttons is-centered">

  <p class="control">
    <button class="button is-normal is-rounded is-primary is-inverted">
 <a class="button has-text-dark is-rounded" href="/jobs">All Jobs</a>   
 </p>  
 </button>
{{!--categories of job section--}}
      {{#each categories}}
 <button class="button is-normal is-rounded is-primary is-inverted ">
        <a class="button is-rounded has-text-dark"  href="/category/{{id}}/jobs">{{category_name}}</a>{{/each}}
 </p>
   </button>
    </div>
</div>
{{!--hero section--}}
<section class="hero is-primary is-large">
  <div class="hero-body">
    
<form role="search" id="form">
  <input type="search" id="query" name="q"
   placeholder="Search..."
   aria-label="Search through site content">
  <button>
 <i class="fa fa-search"></i>
  </button>
</form>
    <p class="title"></p>
        <h1>"company slogan-- helping hands from local hands, etc"</h1>
    </p>
    <p class="subtitle"></p>
  </div>
</section>
 <script>
      const f = document.getElementById('form');
      const q = document.getElementById('query');
      const google = 'https://www.google.com/search?q=site%FixUP+';
      const site = 'fixup-job.herokuapp.com';

      function submitted(event) {
        event.preventDefault();
        const url = google + site + '+' + q.value;
        const win = window.open(url, '_blank');
        win.focus();
      }

      f.addEventListener('submit', submitted);
    </script>
  