{{!--all jobs section--}}
<div class="columns is-centered">
  <div class="column">
    <a class="button has-text-dark is-rounded" href="/jobs">All Jobs</a>   
    {{!--categories of job section--}}
    {{#each categories}}
    <a class="button is-rounded has-text-dark"  href="/category/{{id}}/jobs">{{category_name}}</a>
    {{/each}}
  </div>
</div>

{{!--hero section--}}
<section class="hero is-primary is-large">
  <div class="hero-body">
    <p class="title"></p>
      <h1>"company slogan-- helping hands from local hands, etc"</h1>
    </p>
  </div>
</section>
