<div class="buttons is-centered">

  <p class="control">
    <button class="button is-normal is-inverted">
 <a href="/jobs">All Jobs</a>   
 </p>  
 </button>

      {{#each categories}}
 <button class="button is-normal is-inverted">
        <a href="/category/{{id}}/jobs">{{category_name}}</a>{{/each}}
 </p>
   </button>
    </div>

  {{!-- </p>
  <p class="control">
    <button class="button is-normal">
      Cancel button
    </button>
  </p>
  <p class="control">
    <button class="button is-normal">
      Delete post
    </button>
  </p> --}}
</div>

<section class="hero is-primary is-large">
  <div class="hero-body"> 

    <p class="title">
        <h1>WELCOME TO OUR JOB HUNT</h1>
    </p>
    <p class="subtitle">
  
    </p>
  </div>
</section>
