{{!--all jobs section--}}
<div class="columns">
  <div class="column is-12">
    <div class="container">
    <a class="button is-rounded" href="/jobs">All Jobs</a>   
    {{!--categories of job section--}}
    {{#each categories}}
    <a class="button is-rounded"  href="/category/{{id}}/jobs">{{category_name}}</a>
    {{/each}}
    </div>
  </div>
</div>

{{!--hero section--}}
<div class="hero is-large is-primary">
  <div class="hero-body">
    <p class="title">"company slogan-- helping hands from local hands, etc"</p>
  </div>
</div>
</div>

<div class="container" style="text-align: center;">
<div class="popup" onclick="myFunction()">
  <span class="popuptext" id="myPopup">How we can help you?
    <img src="/images/user.png" id="user" style="float: left; top: 10%; width: 80px">
    <img src="/images/chatbot.png" style="float: right; width: 80px;">
  <div class="user-area"></div>
  <div class="chatarea-main">
    <div class="chatarea-outer"></div>
  <div class="chatbot-area"></div>
  </div>
</span>
<button id="mic"><i class="fa fa-microphone"> Speak with us!</i></button>
</div>
</div>


<script src="/javascript/chatbot.js"></script>

