{{> job-info job}}


{{#if loggedIn}}
<form >
  <div>
    <textarea type="text" name="comment-body" ></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments job.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}