{{!--initiate page template for job to be commented by any user--}}
<div class="columns">
    <div class="column">
        {{!--call the job data from the local storage--}}
        {{>job-info job}}
        {{!--call the comments section to be parse into job--}}
        {{>comments job.comments}}
    </div>
</div>
