{{!--initiate the page for all jobs section posted--}}
<div class="container notification">
   <span class="is-size-3 has-text-weight-bold">{{category}}</span>
   <div class="grid-container">
      {{#each jobs as |job|}}  
      <div class="grid-item">
         {{>job-info job}}
      </div>
      {{/each}}
   </div> 
</div>
{{!-call the file of function to generate this page--}}
<script src="/javascript/job.js"></script>
<script src="/javascript/like-job.js"></script>
