{{!--page template for all jobs post--}}
<div class="container px-4 py-4 jobs-container">
   <span class="is-size-3 has-text-weight-bold">{{category}}</span>
   <div class="grid-container">
      {{#each jobs as |job|}}  
      <div class="grid-item">
         {{>job-info job}}
      </div>
      {{/each}}
   </div> 
</div>
{{!--call the file functions to generate this page and hit likes--}}
<script src="/javascript/job.js"></script>
<script src="/javascript/like-job.js"></script>
