<form id="login-form">
  <div>
    <label for="login">email</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">password</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button id="login">login</button>
  </div>
  <button id="signup-instead">Sign-up instead</button>
</form>



<form class="hide" id="signup-form">
  <div>
    <label for="username-signup">email</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button id="signup">signup</button>
  </div>
  <button id="login-instead">Login instead</button>
</form>


<script src="/javascript/login.js"></script>