<div class="columns is-centered">


    <form id="login-form">
      <div class="field">
        <label for="login">Email</label>
        <div class="control"></div>
        <input class="input is-normal input is-rounded"  type="email " id="username-login" placeholder="Email" />
      </div>

  <div class="field">
    <label for="password-login">Password</label>
    <div class="control"></div>
    <input class="input is-normal input is-rounded" type="password" id="password-login" placeholder="Password" />
  </div>



</br>
<div class="field">
  <div class="control">
    <button class="button is-centered is-rounded  ">login</button> <button class="button is-centered is-rounded">Sign-up</button>
  </div>
  </form>

</div>













<form class="hide" id="signup-form">
  <div>
    <label for="username-signup">email</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button id="signup">signup</button>
  </div>
  <button id="login-instead">Login instead</button>
  </div>
</form>




<script src="/javascript/login.js"></script>