<div class="container notification">
  <div class="grid-container">
      {{#each tags as |tag|}}  
      <div class="grid-item">
         {{category tag}}
      </div>
      {{/each}}
   </div> 
</div>

<script src="/javascript/tag.js"></script>