 
 <div class="container">
    {{#if jobTag}}
    <div class="tags">
        <h3>JOB TAG</h3>
        {{#each jobTag as ||tag }}
        <div>{{job tag_name}}</div>
        {{/each}}
    </div>
    {{/if}}
</div>
<div>{{job-info job}}</div>