<div>
    <div>User: {{>partial-user user}}</div>
    <div>Rating: {{user.rating}}</div>
    {{#if sameUser}}
    <div>Email: {{user.email}}</div>
    <div>Last Login: {{user.last_login}}</div>
    {{/if}}
</div>