/* hide the signup form while in login page template */
.hide {
  display: none;
}

.navbar-form {
  margin: 0;
}
.navbar-form input {
  padding: 4px;
  border-radius: 10px;
}
/* style the body background */
.hero-body {
  background-image: url(../images/drill1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* style the job image */
.job-image {
  max-width: 400px;
  margin: 0 auto 12px;
}
/* set the job description box height */
.job-description {
  max-height: 200px;
}
.login-label {
  color: azure;
  font-size: 20px;
}
::placeholder {
  color: #000;
  opacity: 1;
}
/* style the number count */
#useraveragedivp {
  visibility: hidden;
  display: none;
}
/* set rating section into flex */
.rating {
  display: flex;
  padding: 0;
  margin: 0;
}
.rating li {
  list-style-type: none;
}
/* style the rating-item */
.rating li + li {
  margin-top: 0;
}
.rating-item {
  cursor: pointer;
  font-size: 2em;
  color: gold;
}
/* initial: make all stars full */
.rating-item::before {
  content: "\2605";
}
/* make until the clicked star (the rest) empty */
.rating-item.active ~ .rating-item::before {
  content: "\2606";
}
/* on hover make all full */
.rating:hover .rating-item::before {
  content: "\2605";
}
/* make until the hovered (the rest) empty */
.rating-item:hover ~ .rating-item::before {
  content: "\2606";
}

/*style the grid-container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;
}

.card-border {
  border-radius: 5px;
  border: 5px solid rgb(31, 199, 191);
}
/* style the page in mobile device*/
.dark-panel {
  background-color: rgb(36, 69, 95);
  border-radius: 5px;
  color: aliceblue;
}
.contrast-panel {
  background-color: rgb(70, 99, 121);
  border-radius: 5px;
  color: aliceblue;
}
.tile {
  margin: 0 auto;
}
#msg {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 575px) {
  .navbar-form input {
    width: 100%;
    border-radius: 8px;
    padding: 6px;
  }
  .navbar-item {
    display: block;
  }
  .navbar {
    box-shadow: 4px 4px 4px;
  }
}
