/* hide the signup form while in login page template */
.hide {
  display: none;
}
/* style the column */
.column {
  margin: 5px;
}
/* style the label */
label {
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.label{
  color: #000;
  font-size: 20px;
  
}
form input{
  margin: 10px;
}
/* style the navigation section */
.navigation {
  padding: 15px;
}
/*style the title */
#title {
  font-weight: bolder;
  font-size: 50px;
}
/* style the navigation bar link */
#navbarMenu {
  font-size: 22px;
  font-weight: bolder;
}

.hero-body {
  background-image: url(../images/drill1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  font-weight: bolder;
  font-size: 18px;
  outline: none;
}

#nav-logout-button {
  border: none;
  background: none;
  font-size: 22px;
  font-weight: bold;
}
i {
  color: #000;
}
.comment input {
 width: 100%;
}
#job-info {
  font-size: 25px;
}
.box {
  overflow-x: auto;
}

.card {
  width: 320px;
  border-radius: 20px;
}

#apply-to-job-btn {
  background-color: rgb(187, 192, 189);
  color: black;
}

#file-input {
  color: black;
}

.category-card-container{
  display: flex;
  justify-content: center;
}

.category-card-container > .card{ 
  margin: 20px;
}
#form {
  background-color: #1484c5;
  width: 30%;
  height: 100px;
  border-radius: 5px;
  display:flex;
  flex-direction:row;
  align-items:center;
  padding: 20px;
}

#form input {
  all: unset;
  font: 16px system-ui;
  height: 52%;
  width: 100%;
  padding: 6px 10px;
  background-color: azure;
  color: #000;
}

::placeholder {
  color: #000;
  opacity:1; 
}

#form button {
  all: unset;
  cursor: pointer;
  width: 43px;
  height: 43px;
  color: #000;
  background-color: azure;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: linen;
}
.grid-item {
  text-align: center;
  padding: 20px;

}
.card-header-title{
  padding: 15px;
  text-align: center;
}
#hero-container{
    background-image: url(../images/Tools.png);
    background-repeat: no-repeat;
    background-size: cover;
}